.category-container{
    width: 100%;
    padding: 2rem;
    background-color: transparent;
}

.category-container h4{
color: var(--secondary-color);


}









    #af2896
#27856a
#1e3264
    #8d67ab
#e8115b
#477d95
#b49bc8
#148a08
#d7f27d
#b49bc8
#777777
#503750
#503750
#dc148c
#af2896
    #1e3264













